.calendarWeekContainer .calendar-container {
  margin-top: 20px;
  width: 100%;
  background-color: #5fbdff;
}

.calendarWeekContainer .button-container {
  display: flex;
  justify-content: space-between;
}

.calendarWeekContainer .button-container button:first-child {
  margin-right: 10%;
  margin-left: 10%;
}

.calendarWeekContainer .button-container button:last-child {
  margin-right: 10%;
  margin-left: 10%;
}

.calendarWeekContainer .wrap {
  width: 80%;
}

.calendarWeekContainer table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 4%;
}

.calendarWeekContainer th,
.calendarWeekContainer td {
  border: 1px solid #ddd;
  padding: 10px;
}

.calendarWeekContainer th {
  background-color: #f4f4f4;
}

.calendarWeekContainer td {
  background-color: #f4f4f4;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.calendarWeekContainer td:hover {
  background-color: aqua;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #5fbdff;
}

.calendarWeekContainer .selected {
  background-color: #e0ffe0;
}

@media screen and (max-width: 768px) {
  .calendarWeekContainer .wrap {
    display: flex;
    width: 100%;
  }
}
