.calendar-month .calendar {
  min-height: 430px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; /* h4 태그를 가운데 정렬합니다. */
  gap: 10px;
}

.header button {
  width: 30%;
  padding: 8px;
  margin: auto;
}

.header h4 {
  width: 60%;
  margin: 0; /* 기본 마진을 제거합니다. */
  font-size: 16px; /* 원하는 크기로 조절합니다. */
}

table {
  /* width: 100%; */
  border: 1px solid #444444;
}
