.calendar-container {
  margin-top: 20px;
  width: 100%;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.button-container button:first-child {
  margin-right: 20px;
}
.button-container button:last-child {
  margin-left: 20px;
}
.wrap {
  width: 600px;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 4%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #f4f4f4;
}

td {
  background-color: #f4f4f4;
  cursor: pointer;
}
td:hover {
  background-color: aqua;
}

.selected {
  background-color: #e0ffe0; /* 선택된 셀의 배경색 */
}
