.calendar-container {
  position: absolute;
  left: 100px;
  margin-top: 100px;
  width: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #f4f4f4;
}

td {
  background-color: #f4f4f4;
  cursor: pointer;
}
td:hover {
  background-color: aqua;
}

.selected {
  background-color: #e0ffe0; /* 선택된 셀의 배경색 */
}
