.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 40%;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.button-modal {
  padding: 10px 15px; /* 버튼의 패딩 조정 */
  border: none; /* 테두리 제거 */
  color: white; /* 글자색 */
  border-radius: 5px; /* 둥근 모서리 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
}
@media (max-width: 500px) {
  .modal-content {
    width: 70%;
    height: auto;
  }
}
