.title-box {
  width: 80%;
  text-align: center;
}

.column-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 2px solid #5fbdff;
  box-shadow: 0px 1px 5px rgba(95, 189, 255, 0.5);
  padding-top: 20px;
  margin-top: 30px;
  width: 50%;
  overflow-x: auto;
}

.mostTime,
.possible {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.mostTime {
  position: fixed;
  right: 0;
  top: 30%;
  transform: translateY(-60%);
  width: 20%;
  border: 1px solid black;
  padding: 20px;
  margin-right: 2%;
}
.possible {
  position: fixed;
  right: 0;
  top: 60%;
  transform: translateY(-40%);
  width: 20%;
  border: 1px solid black;
  padding: 20px;
  margin-right: 2%;
}

@media screen and (max-width: 768px) {
  .mostTime {
    position: relative;
    top: 200px;
  }

  .mostTime,
  .possible {
    position: relative;
    width: 100%;
    margin: 20px 0;
    height: auto;
  }

  .flex-bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .possible {
    position: static;
    width: 40%;
    margin: 200px 20px;
    height: 40%;
  }
  .flex-row {
    flex-direction: column;
    width: 100%;
  }
}
