.title-box {
  text-align: center;
  width: 50%;
}
.form-container {
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}
.form-container label {
  display: flex;
  align-items: center; /* 라디오 버튼과 텍스트를 세로 중앙에 맞춤 */
  margin: 20px 0; /* 라벨 간에 여백을 추가 */
}
.form-container input[type="radio"] {
  margin-right: 10px; /* 라디오 버튼과 텍스트 사이의 공간 조정 */
  width: 20%;
}

.calendar {
  border: 1px solid;
  padding: 10px;
}

.possible {
  position: fixed;
  right: 0; /* 화면의 오른쪽 끝에 고정 */
  top: 60%; /* 화면의 상단으로부터 50%의 위치에 고정 */
  transform: translateY(
    -50%
  ); /* 상단 50% 위치에서 자기 자신의 높이의 절반을 위로 이동 */
  width: 20%;
  border: 1px solid black;
  padding: 20px;
  margin-right: 2%;
}

.row {
  display: flex;
  justify-content: center;
}

.closedFalse {
  display: flex;
  flex-direction: column;
  align-items: center;
}
