.title-box {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.mostTime {
  position: fixed;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 20%;
  border: 1px solid black;
  padding: 20px;
}
