.title-box {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.form-container {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}

.calendar {
  border: 1px solid;
  padding: 10px;
}
.possible {
  position: fixed;
  width: 20%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 20px;
}
.row {
  display: flex;
  justify-content: center;
}

.calendar-container {
  width: 65%;
}
