.title-box {
  width: 80%;
  text-align: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mostTime {
  position: fixed;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 20%;
  border: 1px solid black;
  padding: 20px;
  margin-right: 2%;
}
