.calendarForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: stretch;
  width: auto;
  margin: 0 auto; /* 가운데 정렬을 위한 추가 */
}
.calendarForm .calendar {
  height: auto;
  border: 0px;
  padding: 0px;
}

.calendarForm button.nowtrue {
  background-color: gray;
}

.calendarTable td.dragging {
  text-align: center; /* 텍스트를 가운데 정렬 */
  vertical-align: middle; /* 텍스트를 수직 가운데 정렬 */
  background-color: skyblue; /* 배경색 지정 */
}

.cc1 {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  justify-content: center;
}
.cc {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  justify-content: center;
}

.calendarTable {
  display: flex;
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 4%;
}
.cld .calendar .header h2 {
  display: flex;
}

.cld .calendar .header h2 button {
  width: 30%;
}

/* @media (max-width: 768px) {
  .calendarForm {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .calendarForm {
    width: 90%;
  }
} */
